{% extends 'base.html.twig' %}

{% block title %}Bike Comparator{% endblock %}

{% block body %}

<div class="home-wrapper">
    <!-- CONTAINER HEADER -->
    <div
            class="container-header d-flex flex-column align-items-center justify-content-center container-fluid text-white  bg-secondary">
        <div class="container-header__content">
            <h1 class="container-header__title text-center">Bike Comparator</h1>
            <hr class="bg-white">
            <h5 class="text-center px-2">THE WORLD LARGEST BIKE COMPARISON WebSITE</h5>
        </div>
    </div>
    <!-- CONTAINER HEADER -->

    <!-- BANNER LINE -->
    <div class="bannerHome">
        <!-- TITLE PRESENTATION -->
        <div class="bannerHome__title text-center my-2">
            <h1>Plus de 10 000 vélos disponibles</h1>
        </div>
        <!-- TITLE PRESENTATION -->

        <!-- LINE INFO -->
        <div class="bannerHome__line-info container px-5">
            <div class="row">
                <!--  -->
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <i class="far fa-check-circle fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold m-0">Sécurité</h5>
                            <p>Tous les sites et revendeurs index sont </p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <i class="far fa-check-circle fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold m-0">Disponibilité</h5>
                            <p>Lorem ipsum dolor sit amet </p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <i class="far fa-check-circle fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="font-weight-bold m-0">Fiabilité</h5>
                            <p>Tous les vélos référencés respectent les critères de qualité </p>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- LINE INFO -->
    </div>
    <!-- BANNER LINE -->

    <!-- CONTENT ARTICLE -->
    <div class="content-article">
        <div class="content-article__article-1 text-center py-5 text-white">
            <div class="container px-4">
                <h1 class="content-article__title">Vous cherchez un vélo grande taille ? </h1>
                <p class="content-article__section my-5">
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                    maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Vous en avez
                    marre de devoir regarder 10 sites différents et d’ouvrir un nombre incalculable de pages pour
                    chercher la perle rare...
                    Nous vous proposons un catalogue de plus de 30 marques avec des modèles qui vont jusqu'à la taille
                    64 !
                </p>
                <button class="btn btn-light btn-lg mt-2" type="button">Rechercher</button>
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="content-article__article-2 text-center py-5 text-dark">
            <div class="container px-4">
                <h1 class="content-article__title">Acheter en toute simplicité un vélo</h1>
                <p class="content-article__section my-5">
                    Vous souhaitez vous offrir un vélo, sans devoir acheter tous les accessoires de la boutique de votre
                    vélocist. Vous voulez acheter un vélo sans payer deux fois son prix.
                    Si vous souhaitez simplement acheter un vélo, ce site est fait pour vous !
                </p>
                <button class="btn btn-dark btn-lg mt-2" type="button">Rechercher</button>
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="content-article__article-3 text-center py-5 text-white">
            <div class="container px-4">
                <h1 class="content-article__title">Qui sommes nous ?</h1>
                <p class="content-article__section my-5">
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                    maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Vous en avez
                    marre de devoirs regarder dix sites différent et d’ouvrir un nombre incalculable de page pour
                    chercher la perle rare...
                    Nous vous proposons un catalogue de plus de 30 marques avec des modèles qui vont jusqu'à la taille
                    64 !
                </p>
                <button class="btn btn-light btn-lg mt-2" type="button">Faire un don</button>
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="content-article__article-4 text-center py-5 text-dark">
            <div class="container px-4">
                <h1 class="content-article__title">Acheter simplement un vélo</h1>
                <p class="content-article__section my-5">
                    Vous souhaitez vous offrir un vélo, sans devoir acheter tous les accessoires de la boutique de votre
                    vélocist. Vous voulez acheter un vélo sans payer deux fois son prix.
                    Si vous souhaitez simplement acheter un vélo, ce site est fait pour vous !
                </p>
                <button class="btn btn-dark btn-lg mt-2" type="button">Rechercher</button>
            </div>
        </div>
        <!--  -->
    </div>
    <!-- CONTENT ARTICLE -->
</div>
{% endblock %}
