

/* STYLE COMMUN */


:root {
    --bg-page:#f5f5fa;
    --color-checkbox:#0000;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background-color: var(--bg-page);
}

/* STYLES CHECKBOX */
.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--color-checkbox) !important;
}

label.custom-control-label {
    margin-top: 0.15rem;
}
