
<ul>
    {% for property in properties %}

        <li class="border card">
            <a class="cbp-vm-image card-img-top " href="#"><img src="{{ asset('img/Ross.jpg') }}" alt=""></a>

            <a class="cbp-vm-title card-title" href="">{{ property.titre }}</a>
            <div class="cbp-vm-details card-text ">
                Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut. <br>
                <small class="text-muted">★ ★ ★ ★ ☆</small>
            </div>
            <div class="cbp-vm-price">{{ property.price }} €</div>
            <a class="cbp-vm-icon cbp-vm-add" href="#">Add to Favorite</a>
        </li>
    {% endfor %}
</ul>
