<div id="banner-comparison" class="bg-dark fixed-bottom" style="display: none;">
    <div class="container">
        <div class="form-inline p-2 text-white">
            <p id="banner__text" class="mb-0 ml-auto">Comparer les articles (<span>1</span>)</p>
            <!-- <button class="btn btn-light btn-sm mx-2" type="button">Comparer</button> -->
            <a href="#" class="btn btn-light btn-sm mx-2" role="button" aria-pressed="true">Comparer</a>
        </div>
    </div>
</div>