{% extends 'base.html.twig' %}

{% block title %}Comparateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row body__content-container">
            <!-- MENU_LEFT -->
            <div class="col-xl-2 col-md-3 col-sm-4 bg-white border-right pt-3">
                {{ include('comparator/menu_left.html.twig') }}
            </div>
            <!-- MENU_LEFT END-->

            <!-- BODY_ARTICLE -->
            <div class="col-xl-10 col-md-9 col-sm-8  mb-5 pt-2">
                <h5 class="text-center titelMenuOption my-5 d-none d-lg-block">The world largest bike comparison site</h5>
                <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                    <!-- NAVBAR OPTION -->
                    {{ include('comparator/navbarOptionView.html.twig') }}
                    <!-- NAVBAR OPTION END -->

                    <!-- BLOCK ARTICLE -->
                    {% include('comparator/_property.html.twig') %}
                    <!-- BLOCK ARTICLE  -->
                </div>
                <div class="mt-5">
                    <div class="pagination justify-content-center">
                        {{ knp_pagination_render(properties) }}
                    </div>
                </div>

                <!--  -->
            </div>
            <!-- BODY_ARTICLE END -->
        </div>
    </div>
{% endblock %}