<!-- NAVBAR OPTION -->
<div class="row cbp-vm-options mx-0 border d-flex flex-row-reverse">


    <!-- bare de navigation de vue -->
    <div class="cbp-vm-options d-none d-lg-block">
        <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected"
           data-view="cbp-vm-view-grid">Grid View</a>
        <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
    </div>
    <!-- bare de navigation de vue -->

    <!-- filtre affichage -->
    <div class="form-group my-0 px-1 d-none d-lg-block">

        <select id="" class="form-control select-sorting p-0" name="">
            <option value="">
                Meilleures ventes
            </option>
            <option value="">
                Prix : ordre croissant
            </option>
            <option value="">
                Prix : ordre décroissant
            </option>
            <option value="">
                Ajouté récemment
            </option>
            <option value="">
                Remise
            </option>
            <option value="">
                Marque
            </option>
            <option value="">
                Évaluations des clients
            </option>
            <option value="">
                Produits : A à Z
            </option>
            <option value="">
                Produits : Z à A
            </option>
        </select>
    </div>
    <!-- filtre affichage -->
</div>
<!-- NAVBAR OPTION END -->