.prix,
.tprix {
    cursor: pointer;
}

.body__content-container {
    background-color: #f5f5fa;
}

.titelMenuOption {
    text-transform: uppercase;
    letter-spacing: .9rem;
    color: rgb(128, 128, 128);
    /* font-family: 'Lato', Calibri, Arial, sans-serif; */
    font-family: "Source Sans Pro", sans-serif;

}

/* conteneur du menu de trie */

.select-sorting,
.badge-sorting {

    height: 28px !important;
    margin-top: 7px
}

.badge-trie {
    /* border-radius: 20px !important; */
    font-size: 12px !important;
    font-family: inherit !important;
}
